html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.ir {
  border: 0;
  font-size: 0;
  line-height: 0;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible, .invisible--absolute {
  visibility: hidden;
}

.invisible--absolute {
  position: absolute;
}

.absoluteCenter {
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  top: 50%;
  position: absolute;
}

.float--right {
  float: right !important;
}

.float--left {
  float: left !important;
}

.float--none {
  float: none !important;
}

.text--left {
  text-align: left !important;
}

.text--center {
  text-align: center !important;
}

.text--right {
  text-align: right !important;
}

.margin--center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.bb {
  box-sizing: border-box;
}

.bl {
  display: block !important;
}

.pr {
  position: relative;
}

.bold {
  font-weight: bold;
}

.clear {
  clear: both;
  float: none;
}

.caps {
  text-transform: uppercase !important;
}

.hand {
  cursor: pointer;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  /* autoprefixer: off */
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  /* autoprefixer: on */
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  min-height: 100%;
  color: black;
  background-color: gray;
}

.list {
  padding: 5px;
  background: blue;
  width: 100%;
  min-width: 150px;
  clear: both;
}

.item {
  background: red;
}

.container {
  margin: 25px;
}

.contentPlacerContainer .content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
}

.contentPlacerContainer .bar {
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: rgba(30, 30, 30, 0.8);
  width: 100%;
  color: #ffffff;
}

.contentPlacerContainer {
  position: relative;
  margin: 0;
  padding: 0;
}

.contentPlacerContainer .contentPlacerElement {
  position: absolute;
  overflow: hidden;
  opacity: 1;
  background-color: transparent;
}

.contentPlacerElement.hidden {
  opacity: 0;
  transform: scale(0, 0);
}

.contentPlacerContainer .transition {
  transition: all 500ms ease-in-out;
}
